body {
    background-image: url(../frontend/assets/shared\ image.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: inherit; /* reuse body background */
    filter: blur(12px);
    transform: scale(1.1); /* prevents blur edges */

    z-index: -1;
}

.content {
    flex: 2;
    background-color: rgb(73, 73, 73); 
    color: white;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  FJERN ?*/
    height: 400px; 
}

