body {
    overflow: hidden;
}

.flex { 
    display: flex;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.2s ease, color 0.2s ease;
}

a:hover {
    color: aliceblue;
    transform: scale(1.1);
}

.page-body{
    margin-bottom: 60px;
}
.container {
    max-width: 100%;
    width: 100%;
}

.PanelNav {
    justify-content: flex-end; /* push content to the right */
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.nav-right a {
    margin-left: 15px;
    padding-right: 20px;
}

.footer {
    color: azure;
    padding: 15px 1%;
    display: grid;
}

.footer i {
    font-size: 25px;
    padding-top: 10px;
}