body {
    overflow: hidden;
}

.flex {
    display: flex;
}

.page-body {
    margin-bottom: 60px;
}

.container {
    max-width: 100%;
    width: 100%;
}

.PanelNav {
    justify-content: flex-end;
    /* push content to the right */
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.nav-right a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    padding-right: 20px;

}

.nav-right a:hover {
    transition: transform 0.2s ease, color 0.2s ease;
    transform: scale(1.2);
}

.footer {
    color: azure;
    padding: 15px 1%;
    display: grid;
}

.footer i {
    font-size: 25px;
    padding-top: 10px;
}

.footer a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-top: 10px;
}

.footer a:hover {
    transition: transform 0.2s ease, color 0.2s ease;
    transform: scale(1.2);
}