<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- HUSK Å BYTTE FOR UBUNTU "static/style.css" -->
</head>


<body>
    <div class="page-body"> <!--Page body, for css etc og etc-->
        <div class="container">
            <div class="title">
                <h1>N/A</h1>
            </div>

            <div class="wrapper flex">
                <div class="PanelNav flex">
                    <a href="Github"> https://github.com/nightofseptember </a>
                    <a href=""></a>
                </div>
            </div>
            <main>
                <div>
                    <button onclick="copyToClipboard('https://github.com/nightofseptember')">Github Copy</button>
                    <!-- PUT HVA ENN HER  -->
                    <script src="{{ url_for('static', filename='clipboard.js') }}"></script>
                </div>
            </main>
            <footer class="footer"> Nettside / Website © 2026, nightofseptember // </footer>
        </div>
    </div>
</body>

</html>