<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- HUSK Å BYTTE FOR UBUNTU "static/style.css" -->
    <link rel="stylesheet" href="../../static/style.css">¨
    <link rel="stylesheet" href="../../static/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div>
        <div class="container">
            <nav class="PanelNav flex">
                <div class="nav-right">
                    <a href="aboutme.html">About me</a>
                    <a href="portfolio.html">Portfolio</a>

                    <a href="https://github.com/nightofseptember" target="_blank" class="github-link">
                        <i class="bx bxl-github"></i>
                    </a>
                </div>
            </nav>


            <main>
                <div class="content">
                    <h2>test1</h2>
                    <p>test2<br>
                        test3<br>
                        test4</p>
                    <p>test5</p>
                </div>
            </main>

            <footer class="footer">
                <div>
                    Nettside // Website © 2026, nightofseptember
                </div>
                <div>
                    <a href="https://github.com/nightofseptember" target="_blank" class="github-link">
                        <i class="bx bxl-github"></i>
                </div>
            </footer>

        </div>
    </div>
</body>

</html>